{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            {% for show in shows %}
                <div class="col-sm-4">
                    <div id="show-card">
                        <div class="image">
                            <img src="{{ show.image }}" class="img-thumbnail" alt="{{ show.name }}">
                            {% if favShowsId[show.id] %}
                                <a class="tick"><span class="glyphicon glyphicon-ok"></span></a>
                            {% else %}
                                <a href="{{ path('tv_show_add_to_fav', {id: show.id}) }}"><span class="glyphicon glyphicon-plus"></span></a>
                            {% endif %}
                        </div>
                        <h5><a href="{{ path('tv_show_display', {id: show.id}) }}">{{ show.name }}</a></h5>
                    </div>
                </div>
            {% else %}
                <h4>Aucune série correspondant à "{{ query }}"</h4>
            {% endfor %}
        </div>
    </div>
{% endblock %}